<? xml version = "1.0" encoding = "utf-8" ?>
       < !--
       For more information on how to configure your ASP.NET application, please visit
       http://go.microsoft.com/fwlink/?LinkId=301879
-->
< configuration >
< appSettings >
        < !--update these with your appid and one of your appsecret keys-->
        < add key = "MicrosoftAppId" value = "27f1670b-8a9e-4c18-bd69-dd45a74682ea" />
        < add key = "MicrosoftAppPassword" value = "eJqszXuMaLSk6dgaxnq6B8w" />
</ appSettings >